<header>
  <nav>
    <h2>-- placeholder app name! --</h2>
    <div>
      <form action="/search" method="GET">
        <label for="search">Search</label>
        <input type="search" name="search" placeholder="search for resources" required>
        <button type="submit">SUBMIT</button>
      </form>
    </div>
    <div>
      <% if (!loggedIn || !userID) { %>
        <a href="/login">LOGIN</a>
        <a href="/register">REGISTER</a>
      <% } else { %>
          <form action="/logout" method="POST">
            <label for="logout">Logged in as: <%= username %>!</label>
            <button type="submit" name="logout">LOGOUT</button>
          </form>
          <a href="/user-settings">User Settings</a>
      <% } %>
    </div>
  </nav>
</header>
