<header>
  <nav>
    <h2>-- placeholder app name! --</h2>
    <div>
      <% if (!loggedIn || !userID) { %>
        <a href="/login">LOGIN</a>
        <a href="/register">REGISTER</a>
      <% } else { %>
          <form action="/logout" method="POST">
            <label for="logout">Logged in as: <%= username %>!</label>
            <button type="submit" name="logout">LOGOUT</button>
          </form>
      <% } %>
    </div>
  </nav>
</header>
