// See: https://sass-lang.com/

@import "../node_modules/bootstrap/scss/bootstrap";

body,
html {
  background-image: url("https://images.unsplash.com/photo-1530053969600-caed2596d242?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}
