body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 4rem;
  word-wrap: break-word;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #787878;
  background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
  padding: 0 1.5em;
}

button.btn--new {
  display: block;
  margin-top: 6rem;
}

div.resource-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
}

article.resource {
  display: flex;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border: 4px solid black;
  width: 30%;
}

.resource-content {
  margin: 1rem;
  width: 90%;
}

.resource-head-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem;
  width: 90%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#resource-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 7rem 7rem 2rem;
  width: 60%;
  //border: 3px solid blue;
}

#comments {
  width: 60%;
}

.comment {
  //border: 3px solid blue;
  margin-bottom: 1rem;
}

.main-text {
  //border-bottom: 2px solid blue;
  padding-bottom: 1rem;
}

.spread {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.full {
  width: 100%;
}
